.sidenav {
  height: 100%; 
  width: 160px; 
  
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #fffefe; 
  overflow-x: hidden; 
  padding-top: 20px;
  align-items: center;

}


.sidenav a {
  margin-block: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #080808;
  display: block;


}


.sidenav a:hover {
  color: #1b55d3;
}
.logout {
  font-size: 25px;
  text-align: start;
  margin-top: 2px;
}
.logout:hover{
  cursor: pointer;
}
